

:root {
    --id-iframe-height: 550px;
}


/* Content-single is all of sidebar and article*/

#content-single {
    position: relative;
    height: var(--id-iframe-height);
    margin: 200px 100px 30px 100px;
    display: flex;
    height: 700px;
    width: 100%;
}

#content-single article:first-child {
    position: relative;
    width: 70%;
}

article:first-child .full-width {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Code for title */

article:first-child .full-width .entry-title {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.entry-title .game-title {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
}


/* Code for button game action */

.entry-title .game-action {
    display: flex;
    margin-bottom: 10px;
}

.entry-title .game-action .btn-game-action {
    width: 160px;
    border-radius: 40px;
    border: none;
    color: white;
    position: relative;
    display: inline-block;
}


/* Start Css for content button  */

.entry-title .game-action .btn-game-action i {
    font-size: 30px;
    margin-right: 5px;
    border-radius: 50px;
}


/* End css for content button*/

.entry-title .game-action .btn-add-favorite {
    margin-right: 20px;
    background-color: #16c04f;
}

.entry-title .game-action .btn-full-screen {
    background-color: #e0680e;
}


/* End css for fontawesome */


/* End css for button game action */


/* End code for title */


/* Code for iframe */

article:first-child .full-width .frame {
    position: relative;
    height: 85%;
    width: 100%;
}

.full-width .frame #id-iframe {
    height: var(--id-iframe-height);
    width: 100%;
}


/* End code for iframe */




.article__modal {
    position: absolute;
} 
/* -------------- Code for next level--------------------- */


/* The Modal (background) */

#btn-modal--open {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Start css for class modalNextGame */
.entryModal .modalModifier .modalNextGame {
    display: block;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 700px;
    transform: translate(-50%,-50%);
    

}

#modalNextGame .modal__content {
    background-color:#aaaaaa;
    margin: auto;
    padding: 0;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    height: auto;
}

#modalNextGame .modal__content .btn-close {
    float: right;
    font-weight: bolder;
    margin: 10px 20px;
    padding: 5px 10px;
    border-radius: 30px;

}

#modalNextGame .modal__content .btn-close:hover,
#modalNextGame .modal__content .btn-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
 

}


#modalNextGame .modal__content .modal__title {
    color: white;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 40px;
}
#modalNextGame .modal__content .modal__action {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px 30px 20px;

}
#modalNextGame .modal__content .modal__action .btn {
    height: auto;
}
#modalNextGame .modal__content .modal__action .btn
/* End css for class modalNextGame */


/* ------------End code for next level -------------------------- */
