/* Code css in frontPage */


/* Code css for basic frontPage  */
.frontPage {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 120px 0px 100px 0px;
    height: auto;
}

/* End code css for basic frontPage */


/* Code for .frontPage .panelGame */
.panelGame {
    margin: 0 auto;
    top: -50px;
    position: relative;
}
.panelGame__image{
}

.panelGame .panelGame__image .panel__background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    top:0;

}
.panelGame .panelGame__image .panel__animation {
    position: absolute;
    z-index: 2;

}


.panelGame__image .cloud--animation1 {
    right: 0%;
    top: 10%;
    width: 250px;
    height: 200px;
    animation-name: cloud--animation1;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.panelGame__image .cloud--animation2 {
    right: 0%;
    top: 10%;
    animation-name: cloud--animation2;
    animation-duration: 7.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.panelGame__image .cloud--animation3 {
    top: 8%;
    right: 0%;
    animation-name: cloud--animation3;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* Code for animation cloud and monster */
@keyframes cloud--animation1 {
    0% {
        right: 0%;
        top: 0%;
        display: block;
        z-index: 5;
      }
      
    100% {
        right: 90%;
        display: none;
    }
}

@keyframes cloud--animation2 {
    0% {
        right: 0%;
        top: 17%;
        display: block;
        z-index: 5;
      }
      
      100% {
        right: 100%;
        display: none;
      }
}
@keyframes cloud--animation3 {
    0% {
        right: 0%;
        top: 20%;
        display: block;
        z-index: 5;
      }
      
     
      100% {
        right: 100%;
        display: none;
      }
}


/* End code for animation cloud and monster */

/* End code for .frontPage .panelGame */



/* Start code for .frontPage .typesGame */
.typesGame {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
/* End code for .frontPage .typesGame */

/* Start code for .frontPage .newGame */
.newGame {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
/* End code for .frontPage .newGame */

/* End code css in .frontPage */




/* Sua lai cai panel game */

.panelGame {
  margin-left: 0;
  margin-right: 0;
}
.boys--animation {
  bottom: 0%;
  left: 5%;
}
.star1--animation {
  top: 0%;
  left: 5%;
  animation-name: star1--animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.star2--animation {
  top: -15%;
  left: 20%;
}
.star3--animation {
  top: -13%;
  left: 25%;
}
.star4--animation {
  top: 2%;
  left: 45%;
}

.star5--animation {
  top: 3%;
  left: 70%;
}

.star6--animation {
  top: -10%;
  left: 85%;
}

.tau--animation {
  top: 30%;
  right: 15%;
}


@keyframes star1--animation {
  0% {
    top: 0%;
    left: 5%;
  }
  50% {
    top: 0%;
    left: 10%
  }
  100% {
    top: 0%;
    left: 5%;
  }
}

.panel_desc {
  position: absolute;
  top: 40%;
  left: 55%;
  width: 600px;
}
.panel_desc div {
  font-weight: bolder;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  font-family: "Fredoka One";
}

.panel_desc p {
  font-size: 30px;
  color: black;
}

.panel_desc .btn__playGame {
  margin-top: 40px;
  margin-left: 50px;
  border: none;
  font-family: "Fredoka One";
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  padding: 20px;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 10px;
}

.panel_desc .btn__playGame:hover {
  background-color: yellow;
}